<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   
  </head>
  <body
    style="
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <center style="box-shadow: -1px 0px 7px; border-radius: 20px; padding: 10px; text-shadow: 3px 3px 10px black;">
      <a href="/ex_rates" style="text-decoration: none"
        >Click Here <br />
        For <br />
        Ownership_Management & Exchange_Rates</a
      >
    </center>
    <!-- <img src="../icons/two-arrows.png" alt="icon">
    <img th:src="@{../icons/cancel.png}" alt=""> -->

    

    <footer style="position: absolute; bottom: 10px">
      &copy; Houpt Console <i> Working on services...</i> &cap;
    </footer>
  </body>
</html>
